ansible==2.7.5
aws-xray-sdk==2.2.0
beautifulsoup4==4.6.0
boto3==1.4.8
django==2.1.4
django-storages==1.6.5
lxml==3.8.0
mysqlclient==1.3.12
python-twitter==3.5
requests==2.21.0
slackweb==1.0.5
uwsgi==2.0.17.1
