{% extends "base.html" %}
{% load original_filters %}
{% load original_tags %}
{% block content %}
<div id="app">
    <router-view name="navbar"></router-view>
    <router-view></router-view>
    <router-view name="brandFooter"></router-view>
</div>
<script type="text/javascript">
    window.submitTypes = JSON.parse("{{ submit_types|to_json|escapejs }}");
    window.subjects = JSON.parse("{{ subjects|to_json|escapejs }}");
</script>
<script src="{% webpack "app.js" %}" defer></script>
{% endblock %}
